header{
  padding: 20px;
}

.btn{
  background-color:lightcyan;
  color: black;
  padding: 16px 32px;
  font-size:16px;
  margin:4px 2px;

}

body{
  background-color: lightyellow;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.f1{
  color: black; 
background-color:lightblue; 
padding:50px;
text-align:center;
font:icon;

}

.d1{
  padding: 20px;
}


.d2{
  padding: 20px;
}